<section class="page-log">
	<div class="list">
		<% _.each(models, function(model) { %>
		<div class="item">
			<span class="<%- model.get('type') %>"><%- model.getFormattedDate() %></span>
			<span><%- model.getMesssage() %></span>
		</div>
		<% }) %>
	</div>
</section>