@import "./support/fonts";
@import "./support/keyframes";

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  .serif;
}

@import "./components/preload-placeholder";
@import "./components/btns";

@import "./pages/home";
@import "./pages/log";