<section class="page-home">
	<div class="menu-handle"></div>
	<div class="menu">
		<div data-ignore class="resources">
			<div class="list"></div>
			<div class="add">add</div>
		</div>
	</div>
	<div class="overlay"></div>
	<div date-ignore class="posts">
	</div>
	<!--<div class="logo">noise</div>-->
</section>