<div class="post">
	<% _.each(post.get('sections'), (section) => { %>
	<div class="section">
		<img src="<%- '/proxy/' + btoa(section.img) %>"/>
		<div class="desc"><%= section.desc %></div>
	</div>
	<% }) %>
	<div class="desc">
		<div class="container">
			<%= post.get('desc') %>
		</div>
	</div>
</div>