<div class="resource <%- isShown ? 'show' : '' %> ">
    <div class="inlined">
        <div contenteditable class="name"><%- model.get('name') %></div>
    </div>
    <div class="inlined">
        <select class="type">
            <option
            <%- model.get('type') == 'instagram' ? 'selected' : '' %> value="instagram">instagram</option>
            <option
            <%- model.get('type') == 'tumblr' ? 'selected' : '' %> value="tumblr">tumblr</option>
            <option
            <%- model.get('type') == 'web' ? 'selected' : '' %> value="web">web</option>
        </select>
    </div>
    <div class="how-to-refresh">
        <p>refresh</p>
        <p>last</p>
        <div class="inlined"><span contenteditable class="post-count"><%- model.get('postCount') %></span></div>
        <p>posts</p>
        <p>each</p>
        <div class="inlined"><span contenteditable class="timeout"><%- model.get('timeout') %></span></div>
        <p>minutes</p>
    </div>
    <% if(model.get('type') == 'web') { %>
    <div class="web-edit">
        <div class="image-selector" contenteditable><%- model.get('imageSelector') || '.photo' %></div>
        <div class="next-page-selector" contenteditable><%- model.get('nextScreenSelector') || '.page2' %></div>
    </div>
    <% } %>
    <div class="inlined">
        <div class="remove">✕</div>
    </div>
    <div class="inlined">
        <div class="save">Save</div>
    </div>
</div>