@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700|PT+Sans|PT+Sans+Caption:700);

.serif {
  font-family: 'Playfair Display', serif;
}

.sans {
  font-family: 'PT Sans', sans-serif;
}

.sans-caption {
  font-family: 'PT Sans Caption', sans-serif;
}