@keyframes line-move {
  from {
    transform: translate3d(0, 0, 0) scaleX(1);
  }
  to {
    transform: translate3d(-400px, 0, 0) scaleX(2);
  }
}

@keyframes overlay-pulse {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes overlay-pulse-reverse {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}