.preload-placeholder {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  justify-content: center;
  font-size: 12px;
  height: 100vh;
  background: linear-gradient(262deg, #f64740, #726da8);
  background-size: 400% 400%;
  animation: AnimationName 34s ease infinite;
}

@keyframes AnimationName {
  0%{background-position:87% 0%}
  50%{background-position:14% 100%}
  100%{background-position:87% 0%}
}