.page-home {
  overflow-x: hidden;
  .menu-handle {
    .sans;
    letter-spacing: 5px;
    overflow: hidden;
    cursor: pointer;
    font-size: 22px;
    position: fixed;
    height: 30px;
    left: ~'calc(20% - 30px)';
    z-index: 150;
    top: 10px;
    width: 61px;
    &:before {
      content: 'MENU';
      position: relative;
      left: -8px;
    }
  }
  .menu {
    .sans;
    letter-spacing: 5px;
    z-index: 150;
    width: 800px;
    padding: 20px;
    top: 0;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    left: -99999px;
    background: linear-gradient(45deg, #726DA8 0%, #F64740 100%);
    opacity: .9;
    color: #fff;
    transform: translate3d(-800px, 0, 0);
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), left 0s 1s;
    &::-webkit-scrollbar {
      display: none;
    }
    .menu-active & {
      left: 0;
      transform: translate3d(0, 0, 0);
      transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1), left 0s;

    }
    @media (max-width: 768px) {
      width: 330px;
    }
    .resources {
      display: flex;
      justify-content: space-between;
      flex-flow: column;
      align-items: flex-start;
      min-height: 100%;
      .list {
        .resource {
          margin-bottom: 60px;
          &.show {
            .inlined {
              .name {
                transform: translate3d(0, 0, 0);
                transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1) .2s;
              }
              .type {
                transform: translate3d(0, 0, 0);
                transition: transform .7s cubic-bezier(0.165, 0.84, 0.44, 1) .2s;
              }
              .post-count {
                transform: translate3d(0, 0, 0);
                transition: transform .3s cubic-bezier(0.165, 0.84, 0.44, 1) .2s;
              }
              .timeout {
                transform: translate3d(0, 0, 0);
                transition: transform .9s cubic-bezier(0.165, 0.84, 0.44, 1) .2s;
              }
            }
            .how-to-refresh {
              p {
                //&:after {
                //  transform: translate3d(100%, 0, 0);
                //  transition: transform .6s cubic-bezier(0.55, 0.085, 0.68, 0.53) .2s;
                //}
              }
            }

          }
          .inlined {
            display: inline-flex;
            overflow: hidden;
          }
          [contenteditable], .type {
            .sans;
            position: relative;
            display: inline-block;
            min-width: 16px;
            text-transform: uppercase;
            letter-spacing: -4px;
            line-height: 20px;
            font-size: 20px;
            outline: none;
            padding: 0;
            margin: 0;
            border: none;
            background: transparent;
            transform: translate3d(0, 20px, 0);
            transition: transform 0s .3s;
            color: #fff;
            option {
              color: #000;
            }
          }
          .name {
            margin-right: 60px;
            &:after {
              content: '.';
              position: absolute;
              right: -20px;
            }
          }
          .how-to-refresh {
            font-size: 14px;
            letter-spacing: inherit;
            p {
              display: inline-block;
              position: relative;
              overflow: hidden;
              margin: 0;
              vertical-align: bottom;
              //&:after {
              //  content: '';
              //  display: block;
              //  position: absolute;
              //  left: 0;
              //  top: 0;
              //  z-index: 100;
              //  width: 100%;
              //  height: 100%;
              //  background: rgba(185, 149, 255, 0.81);
              //  transition: transform 0s .3s;
              //}
            }
          }
          .web-edit {
            background: rgba(0, 0, 0, .9);
            transform: skew(-20deg);
            margin-top: 20px;
            position: relative;
            left: -10px;
            height: 100px;
            margin-bottom: -34px;
            [contenteditable] {
              display: block;
              padding: 10px;
              transform: skew(20deg);
            }
          }
          .remove {
            .btn;
            position: relative;
            top: 1px;
            margin: 30px 5px 0 0;
            color: #000;
          }
          .save {
            .btn;
            border: 2px solid rgba(255, 255, 255, .5);
            padding: 2px 11px;
            border-radius: 100px;
          }
        }
      }
      .add {
        .btn;
        padding: 10px 70px;
        border-radius: 100px;
        box-shadow: 0 3px 30px rgba(0, 0, 0, .2);
        transition: .4s;
        &:hover {
          color: #fff;
          box-shadow: none;
        }
      }
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    left: -99999px;
    opacity: 0;
    background: rgba(238, 240, 242, 0.75);
    transition: opacity .5s cubic-bezier(0.23, 1, 0.32, 1), left 0s .5s;
    .menu-active & {
      left: 0;
      opacity: 1;
      transition: opacity .5s cubic-bezier(0.23, 1, 0.32, 1), left 0s;
    }
  }
  .posts {
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    transition: .5s cubic-bezier(0.23, 1, 0.32, 1);
    .menu-active & {
      transform: translate3d(200px, 0, 0);
    }
    .post {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      min-height: 100vh;
      @media (max-width: 768px) {
        min-height: 0;
      }
      &.special-1 {
        .desc {
          .container {
            position: relative;
            &:before {
              content: '';
              display: block;
              height: 2px;
              width: 100%;
              position: absolute;
              background: #000;
              top: 70%;
              left: -90%;
              animation: 40s ease 0s infinite alternate line-move;
            }
          }
        }
      }
      &.special-2 {
        flex-flow: row-reverse wrap;
      }
      &.special-3 {
        flex-flow: column;
        .desc {
          flex: 0 0 auto;
          .container {
            max-width: 50%;
          }
        }
        .section {
          margin: 20px;
        }
      }
      &.small-desc {
        .desc {
          .container {
            max-width: 40%;
          }
        }
      }
      .desc {
        flex: 1 1 1px;
        margin: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        word-break: break-word;
        .container {
          a {
            text-decoration: none;
            color: #000;
            display: inline-block;
            border-bottom: 1px solid;
            &:hover {
              border-bottom: 1px solid transparent;
            }
          }
          iframe {
            max-width: 100%;
            margin: 10px 0;
          }
        }
      }
      .section {
        flex: 0 0 1px;
        img {
          max-width: 100vw;
          display: block;
          margin-top: 10px;
        }
      }
    }
  }
}