.page-log {
  .list {
    margin: 20px 10px 20px 100px;
    .item {
      font-size: 14px;
      display: flex;
      margin-bottom: 12px;
      line-height: 22px;
      word-break: break-all;
      .error, .success {
        flex: 0 0 200px;
      }
      .error {
        color: #D83838;
      }
      .success {
        color: #4CB944;
      }
    }
  }
}